body{
  background-color: black;
}
.bgc{
  background-color: white;
  
}
.btn{
  width: 270px;
  font-size: 30px;
  background-color: white;
  transition: all 1s;
}
.btn:hover{
  background-color: #2F4F4F;
}
.txt{
  margin-left: 275px;
  margin-top: -210px;

}
.txt45{
  margin-left: 250px;
}
.img{
  margin-top: -186px;
}
.btn1{
  width: 252px;
  font-size: 37px;
  background-color: white;
  transition: all 1s;
}
.btn1:hover{
  background-color: #2F4F4F;
}
.yyy{
    margin-top: 150px;
}
.yyy3{
    margin-top: -975px;
}
.tovar1{
  background-color: red;
  width: 193px;
  margin-top: 0px;
  margin-left: 275px; 
}
.tovar2{
  background-color: red;
  width: 193px;
  margin-top: -285px;
  margin-left: 475px; 
}
.tovar3{
  background-color: red;
  width: 193px;
  margin-top: 20px;
  margin-left: 275px; 
}
.tovar4{
  background-color: red;
  width: 193px;
  margin-top: -275px;
  margin-left: 475px; 
}
.btn1022322{
  font-size: 25px;
}
.btn10283223{
  font-size: 20px;
}
d{
    margin-top: -100px;
}